<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Entreprise Users</title>
</head>
<body>
<h2>Voici les {{entreprises|length}} entreprises présents dans la base</h2>
    <table>
        {% for usr in entreprises %}
        <tr>
        <td>
            {{usr.Entreprise_Name}}
        </td>
        <td>
            {{usr.Entreprise_Licence_Date_Start}}
        </td>   
        </tr>       
        {% endfor %}
    </table>
    
<a href="/users/create/">
    <button type="button" class="btn btn-success">
        + Ajouter un utilisateur
    </button>
</a>

</body>